@{
    ViewData["Title"] = "Asp Net";
}

<div class="bgPersonal">
    <div class="manualTitle">Estágio Inicial DAEE</div>
</div>

<section style="" id="section-07">
    <div class="bg-Asp">

        <div class="img-asp" data-aos="zoom-in">
            <img src="/img/asp-programming.png" alt="asset programando"/>
        </div>

        <div class="content-asp" data-aos="fade-left">
            <h5>Visual Studio</h5>
            <h1>Asp .NET Core 6.0</h1>
            <p>
                ASP.NET é um framework de desenvolvimento web da Microsoft que permite a criação de aplicativos e serviços web robustos e escaláveis. 
                Ele fornece uma plataforma para desenvolver aplicativos web usando várias linguagens de programação, como C#, Visual Basic e F#.
                ASP.NET oferece uma abordagem baseada em servidor para o desenvolvimento web, onde o código é executado no servidor e o resultado 
                é enviado para o navegador do usuário. Ele segue o padrão Model-View-Controller (MVC), onde o código é organizado em camadas distintas para 
                melhorar a modularidade, a manutenção e a reutilização do código.
            </p>
        </div>
    </div>

    <div class="d-flex justify-content-between mt-5 mb-5">

        <div class="step-asp" data-aos="zoom-out" data-aos-anchor-placement="top-bottom">
            <div class="icon">
                <img src="~/img/programming-icon.png" />
            </div>

            <p class="fw-bold mt-3">Linguagens de programação</p>
            <p class="leftBorder">
                O ASP.NET suporta várias linguagens de programação, como C#, Visual Basic e F#.
                Isso permite que os desenvolvedores usem a linguagem de sua escolha para criar aplicativos web.
            </p>
        </div>
        <div class="step-asp" data-aos="zoom-out" data-aos-anchor-placement="center-bottom">
            <div class="icon">
                <img src="~/img/asp-engrenagem.png" />
            </div>

            <p class="fw-bold mt-3">Controles de servidor</p>
            <p class="leftBorder">
                O ASP.NET oferece uma ampla gama de controles de servidor, que são elementos reutilizáveis que podem ser arrastados e soltos em uma página web.
                Esses controles fornecem funcionalidades comuns, como caixas de texto, botões e listas suspensas.
            </p>
        </div>
        <div class="step-asp" data-aos="zoom-out" data-aos-anchor-placement="top-center">
            <div class="icon">
                <img src="~/img/library-icon.png" />
            </div>

            <p class="fw-bold mt-3">Biblioteca de classes</p>
            <p class="leftBorder">
                O ASP.NET possui uma biblioteca de classes rica que fornece uma variedade de recursos e funcionalidades para o desenvolvimento web,
                como manipulação de dados, autenticação e autorização, segurança, geração de relatórios, cache e muito mais.
            </p>
        </div>
        <div class="step-asp" data-aos="zoom-out" data-aos-anchor-placement="center-center">
            <div class="icon">
                <img src="~/img/visual-studio-icon.png" />
            </div>

            <p class="fw-bold mt-3">Integração com o Visual Studio</p>
            <p class="leftBorder">
                O ASP.NET é integrado ao ambiente de desenvolvimento Visual Studio da Microsoft, o que facilita a criação, depuração e
                implantação de aplicativos web. O Visual Studio fornece recursos avançados de produtividade, como sugestões de código,
                depuração passo a passo e ferramentas de design visual.
            </p>
        </div>
    </div>

    <div class="last-Asp text-light">

        <div class="content-asp">
            <p>
                O ASP.NET amplia a plataforma .NET com ferramentas e bibliotecas específicas para a criação de aplicativos web.
                Estas são algumas coisas que o ASP.NET adiciona à plataforma .NET:
            </p>
            <ul>
                <li class="pb-2">Framework básico para processar solicitações da web em C# ou F#</li>
                <li class="pb-2">A sintaxe de modelagem de página da Web, conhecida como Razor, para criar páginas dinâmicas da Web usando C#</li>
                <li class="pb-2">Produtivas para padrões comuns da web, como o Controlador da Exibição de Modelo (MVC)</li>
                <li>
                    Sistema de autenticação que inclui bibliotecas, um banco de dados e páginas de modelo para lidar com logons,
                    incluindo autenticação multifator e autenticação externa com Google, Twitter e muito mais.
                </li>
            </ul>
        </div>

        <div class="img02-asp" data-aos="zoom-in">
            <img src="/img/swimlane-aspnet-extends-dotnet.svg" alt="asset programando" />
        </div>

    </div>

</section>

