@{
    ViewData["Title"] = "Git Integrado";
}

<div class="bgPersonal">
    <div class="manualTitle">Estágio Inicial DAEE</div>
</div>

<section style="" class="pt-5" id="section-08">
    <div class="row justify-content-center">
        <div class="col-sm-5">
            <h1>Git Integrado</h1>
            <h5 style="color: #A87BDE">Visual Studio</h5>
            <p class="alignment mt-5">
                &nbsp&nbsp O Git é um sistema de controle de versão distribuído amplamente utilizado no desenvolvimento de software.
                Ele permite que você rastreie e gerencie as alterações feitas em seu código-fonte ao longo do tempo, 
                facilitando o trabalho colaborativo em equipes e a gerência do histórico de alterações.
                <br /><br />
                &nbsp&nbsp O Gerenciador de repositórios Git no Visual Studio é uma funcionalidade integrada no ambiente de desenvolvimento do Visual Studio queO Git é um
                sistema de controle de versão distribuído amplamente utilizado no desenvolvimento de software. Ele permite que você rastreie e gerencie as alterações
                feitas em seu código-fonte ao longo do tempo, facilitando o trabalho colaborativo em equipes e a gerência do histórico de alterações.
                <br /><br />
                Ele oferece uma interface gráfica e ferramentas para realizar tarefas relacionadas ao controle de versão Git, como:
            </p>
        </div>

        <div class="position-relative col-sm-5 gitInt-left">

            <div class="img-icon-vs">
                <img src="~/img/visual-studio-icon-colorful.png" alt="Ícone do Visual Studio"/>
            </div>

            <div class="img-code-vs"></div>

            <div class="img-icon-git">
                <img src="~/img/git-integrado.png" alt=""/>
            </div>

        </div>
    </div>

    <div style="height: 80vh" class="git-bg-cards">
        <div class="git-bg-blur">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem; height: 267px">
                <div class="card-header">Inicializar um repositório Git</div>
                <div class="card-body">
                    
                    <p class="card-text">Você pode criar um novo repositório Git para um projeto existente ou iniciar um novo projeto com um repositório Git.</p>
                </div>
            </div>

            <div class="card text-white bg-dark mb-3" style="max-width: 18rem; height: 267px">
                <div class="card-header">Clonar um repositório remoto</div>
                <div class="card-body">
                   
                    <p class="card-text">É possível clonar um repositório Git remoto para obter uma cópia local do código-fonte e começar a trabalhar nele.</p>
                </div>
            </div>

            <div class="card text-white bg-dark mb-3" style="max-width: 18rem; height: 267px">
                <div class="card-header">Realizar commits</div>
                <div class="card-body">
                    
                    <p class="card-text">O Visual Studio fornece uma interface para selecionar, revisar e confirmar as alterações realizadas no código, criando um novo commit no histórico do repositório.</p>
                </div>
            </div>

            <div class="card text-white bg-dark mb-3" style="max-width: 18rem; height: 267px">
                <div class="card-header">Gerenciar branches e merges</div>
                <div class="card-body">
                    
                    <p class="card-text">É possível criar, alternar entre e mesclar branches (ramificações) no Git. O Gerenciador de repositórios Git do Visual Studio facilita essas operações, ajudando a gerenciar diferentes versões do código.</p>
                </div>
            </div>

        </div>
    </div>

</section>

