@{
    ViewData["Title"] = "Git Integrado";
}

<div class="bgPersonal">
    <div class="manualTitle">Estágio Inicial DAEE</div>
</div>

<section style="" class="pt-5" id="section-08">
    <div class="row justify-content-center">
        <div class="col-sm-5" data-aos="fade-right">
            <h1>Git Integrado</h1>
            <h5 style="color: #A87BDE">Visual Studio</h5>
            <p class="alignment mt-5">
                &nbsp&nbsp O Git é um sistema de controle de versão distribuído amplamente utilizado no desenvolvimento de software.
                Ele permite que você rastreie e gerencie as alterações feitas em seu código-fonte ao longo do tempo, 
                facilitando o trabalho colaborativo em equipes e a gerência do histórico de alterações.
                <br /><br />
                &nbsp&nbsp O Gerenciador de repositórios Git no Visual Studio é uma funcionalidade integrada no ambiente de desenvolvimento do 
                Visual Studio que fornece suporte para o controle de versão Git.
                <br /><br />
                Ele oferece uma interface gráfica e ferramentas para realizar tarefas relacionadas ao controle de versão Git, como:
            </p>
        </div>

        <div class="position-relative col-sm-5 gitInt-left" data-aos="fade-left">

            <div class="img-icon-vs">
                <img src="~/img/visual-studio-icon-colorful.png" alt="Ícone do Visual Studio"/>
            </div>

            <div class="img-code-vs"></div>

            <div class="img-icon-git">
                <img src="~/img/git-integrado.png" alt=""/>
            </div>

        </div>
    </div>

    <div class="git-bg-cards">
        <div class="git-bg-blur">
            <div class="card text-white bg-dark mb-3" data-aos="fade-up" data-aos-anchor-placement="top-bottom" style="max-width: 18rem; height: 267px">
                <div class="card-header">Inicializar um repositório Git</div>
                <div class="card-body">
                    
                    <p class="card-text">Você pode criar um novo repositório Git para um projeto existente ou iniciar um novo projeto com um repositório Git.</p>
                </div>
            </div>

            <div class="card text-white bg-dark mb-3" data-aos="fade-up" data-aos-anchor-placement="top-bottom" style="max-width: 18rem; height: 267px">
                <div class="card-header">Clonar um repositório remoto</div>
                <div class="card-body">
                   
                    <p class="card-text">É possível clonar um repositório Git remoto para obter uma cópia local do código-fonte e começar a trabalhar nele.</p>
                </div>
            </div>

            <div class="card text-white bg-dark mb-3" data-aos="fade-up" data-aos-anchor-placement="top-bottom" style="max-width: 18rem; height: 267px">
                <div class="card-header">Realizar commits</div>
                <div class="card-body">
                    
                    <p class="card-text">O Visual Studio fornece uma interface para selecionar, revisar e confirmar as alterações realizadas no código, criando um novo commit no histórico do repositório.</p>
                </div>
            </div>

            <div class="card text-white bg-dark mb-3" data-aos="fade-up" data-aos-anchor-placement="top-bottom" style="max-width: 18rem; height: 267px">
                <div class="card-header">Gerenciar branches e merges</div>
                <div class="card-body">
                    
                    <p class="card-text">É possível criar, alternar entre e mesclar branches (ramificações) no Git. O Gerenciador de repositórios Git do Visual Studio facilita essas operações, ajudando a gerenciar diferentes versões do código.</p>
                </div>
            </div>

        </div>
    </div>

   <div class="row mt-5">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="branchesImg">
                        <img src="~/img/branches.png" />
                    </div>
                </div>
                
                <div class="swiper-slide">
                    <div class="commitImg">
                        <img src="~/img/commit.png" />
                    </div>
                </div>
                
                <div class="swiper-slide">
                    <div class="alteracaoImg">
                        <img src="~/img/alteracoes.png" />
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="criacaoImg">
                        <img src="~/img/criar-repositorio-git.png" />
                    </div>
                </div>
            </div>
        </div>

       <div class="d-flex col-sm-6 align-items-center" style="height: 500px">
            <iframe width="800" height="450" src="https://www.youtube.com/embed/2aw4TRR5Xfw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
       </div>
   </div>

</section>

