@{
    ViewData["Title"] = "Manual";
}

<div class="bgPersonal">
    <div class="manualTitle">Estágio Inicial DAEE</div>
</div>

<section id="section-01">
      <h2 class="bef-title">GIT FLOW</h2>
      
      <div class="row">
        <div class="accordion accordion-flush col-sm-6" id="accordionFlushExample">

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        <strong>Feature Branches</strong>
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Contém códigos que podem ou não ser incluídos na próxima RELEASE (HOMOLOG), o merge das FEATUREs é realizado na branch DEVELOP. </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <strong>Develop branch</strong>
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Contém features que serão disponibilizadas na próxima RELEASE. </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <strong>Release branch</strong>
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Contém o código de homologação, caso aprovado entrará na branch MASTER. </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        <strong>Hotfix branches</strong>
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Partem da branch master ou da branch que equivale a versão atual em produção, utilizada para um reparo imediato em produção.</div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        <strong>Master branch</strong>
                    </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Contém o código da release atual, que entrará em produção, realizado o deploy é a versão atual do sistema.</div>
                </div>
            </div>
        </div>
        
        <div class="image col-sm-6">
            <img src="~/img/git_flow-scaled.jpg"/>
        </div>
      </div>
      
  </section>

<section id="section-02">
    <h2 class="bef-title">JQuery</h2>
    
    <div class="container-grid">
        <div class="cardImage" style="background: url(/img/2020-03-31-whatsapp-business.png) no-repeat center center; background-size: cover">
            <div class="content">jQuery é uma biblioteca de código aberto (código aberto) e possui licença dual, fazendo uso da Licença MIT ou da GNU General Public License versão 2. A sintaxe do jQuery foi desenvolvida para simplificar a navegação em documentos HTML, a seleção de elementos DOM, criar animações, manipular eventos, desenvolver aplicações AJAX e criação de plugins sobre ela, permitindo aos desenvolvedores criarem camadas de abstração para interações de baixo nível de modo simplificado em aplicações web de grande complexidade.</div>
            <div class="title">O que é?</div>
        </div>

        <div class="cardImage" style="background: url(/img/Bg-principal.jpg) ; background-size: cover">
            <div class="content">
                Com a jQuery temos que utilizar a função <span style="color: red">$(alvo)</span> para encontrarmos um elemento HTML dentro da aplicação e utilizarmos as funções da biblioteca. Essa função é tecnicamente conhecida como construtor ou função construtora e ela estará presente em todas as aplicações que utilizarmos a jQuery.
                O fato de se chamar $ evita a possibilidade de ocorrer conflitos com outras funções da biblioteca do usuário. Ocasionalmente podemos vir a utilizar alguma outra biblioteca que também tenha como uso uma função chamada $. Caso isso acontece podemos usar como alternativa a função jQuery().
               <br /> Obs.: <span style="color: red">alvo</span> equivale a um seletor para TAG, ID ou classe.
            </div>
            <div class="title">Construtor</div>
        </div>

        <div class="cardImage" style="background: url(/img/istockphoto-1008207382-612x612.jpg) no-repeat center center; background-size: cover">
            <div class="content" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <strong class="jquery-item">$(‘h1’)</strong>
                <strong class="jquery-item">$(‘p’)</strong>
                <strong class="jquery-item">$(‘#conteudo’)</strong>
                <strong class="jquery-item">$(‘.teste’)</strong>
            </div>
            <div class="title">
                Exemplos de Sintaxe
            </div>
        </div>

        <div class="cardImage" style="background: url(/img/pexels-fauxels-3184292-1.jpg) no-repeat center center; background-size: cover">
            <div class="content">
                A função $(document).ready() é usada no jQuery para aguardar até que todo o documento HTML seja carregado antes de executar o código JavaScript. Isso garante que todos os elementos HTML existam na página antes de tentar interagir com eles usando o jQuery.
                Ao usar $(document).ready(), você está definindo uma função que será executada assim que o navegador concluir a construção do DOM. Isso garante que todos os elementos HTML estejam prontos para serem manipulados pelo jQuery.
            </div>
            <div class="title">Função $(document).ready()</div>
        </div>
    </div>

  </section>

<section id="section-03">

    <div class="containerPersonal">
        <div style="border-right: solid 50px #000887" class="cardPersonal">
            <strong style="color: #000887" class="letter">M</strong>
            <div class="descricao">O modelo representa os dados e a lógica de negócio da aplicação. Ele é responsável por gerenciar o acesso, a manipulação e a validação dos dados, além de conter a lógica que define como os dados devem ser processados e apresentados. O modelo é independente da interface do usuário (UI) e não tem conhecimento direto sobre a visualização ou o controlador.</div>
        </div>
        <div style="border-right: solid 50px #048ABF" class="cardPersonal">
            <strong style="color: #048ABF" class="letter">V</strong>
            <div class="descricao">A visualização é responsável pela apresentação dos dados ao usuário. Ela exibe a interface do usuário e interage com o usuário final. A visualização recebe dados do modelo e os apresenta de uma forma compreensível e adequada para o usuário. Ela não contém lógica de negócio significativa, mas pode conter algum código de apresentação para formatar e exibir os dados.</div>
        </div>
        <div style="border-right: solid 50px #04C4D9" class="cardPersonal">
            <strong style="color: #04C4D9" class="letter">C</strong>
            <div class="descricao">O controlador lida com as interações do usuário e coordena o fluxo de dados entre o modelo e a visualização. Ele recebe as entradas do usuário e toma as ações apropriadas com base nessas entradas. Ele atualiza o modelo quando necessário e atualiza a visualização para refletir as alterações nos dados. O controlador é responsável pela lógica de coordenação e controle do aplicativo.</div>
        </div>
    </div>
</section>

