@*@model IEnumerable<Jquery>*@

@{
    ViewData["Title"] = "Jquery";
    //string nomeImg;
}

<div class="bgPersonal">
    <div class="manualTitle">Estágio Inicial DAEE</div>
</div>

<section id="section-02">
    <h2 class="bef-title">JQuery</h2>

    <div class="container-grid">

        @*MESMO LAYOUT PUXANDO DO BANCO*@
@*        @foreach(var item in Model)
        {
            nomeImg = $"jquery0{item.Id}.jpg";

            <div class="cardImage" style="background: url(/img/@nomeImg) no-repeat center center; background-size: cover">
                <div class="content">@Html.Raw(item.Conteudo)</div>
                <div class="title">@item.Titulo</div>
            </div>
        }*@

        <div class="cardImage" style="background: url(/img/jquery01.jpg) no-repeat center center; background-size: cover">
            <strong class="content">jQuery é uma biblioteca de código aberto (código aberto) e possui licença dual, fazendo uso da Licença MIT ou da GNU General Public License versão 2.
                A sintaxe do jQuery foi desenvolvida para simplificar a navegação em documentos HTML, a seleção de elementos DOM,
                criar animações, manipular eventos, desenvolver aplicações AJAX e criação de plugins sobre ela, permitindo aos desenvolvedores criarem camadas 
                de abstração para interações de baixo nível de modo simplificado em aplicações web de grande complexidade.
            </strong>
            <div class="title">O que é?</div>
        </div>

        <div class="cardImage" style="background: url(/img/jquery02.jpg) no-repeat center center; background-size: cover">
            <strong class="content">
                Com a jQuery temos que utilizar a função <span style='color: red'>$(alvo)</span> para encontrarmos um elemento HTML dentro da aplicação 
                e utilizarmos as funções da biblioteca. Essa função é tecnicamente conhecida como construtor ou função construtora e ela estará presente em todas 
                as aplicações que utilizarmos a jQuery.
                O fato de se chamar $ evita a possibilidade de ocorrer conflitos com outras funções da biblioteca do usuário. 
                Ocasionalmente podemos vir a utilizar alguma outra biblioteca que também tenha como uso uma função chamada $.
                Caso isso acontece podemos usar como alternativa a função jQuery().
            </strong>
            <div class="title">Construtor</div>
        </div>

        <div class="cardImage" style="background: url(/img/jquery03.jpg) no-repeat center center; background-size: cover">
            <div class="content"><strong>$(‘h1’)<br />$(‘p’)<br />$(‘#conteudo’)<br />$(‘.teste’)</strong></div>
            <div class="title">Exemplos da Sintaxe</div>
        </div>

        <div class="cardImage" style="background: url(/img/jquery04.jpg) no-repeat center center; background-size: cover">
            <strong class="content">
                A função $(document).ready() é usada no jQuery para aguardar até que todo o documento HTML seja carregado antes de executar o código JavaScript.
                Isso garante que todos os elementos HTML existam na página antes de tentar interagir com eles usando o jQuery.
                Ao usar $(document).ready(), você está definindo uma função que será executada assim que o navegador concluir a construção do DOM. 
                Isso garante que todos os elementos HTML estejam prontos para serem manipulados pelo jQuery.
            </strong>
            <div class="title">Função $(document).ready()</div>
        </div>
    </div>

</section>