@model IEnumerable<Mvc>

@{
    ViewData["Title"] = "Manual";
}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="navbar-brand">Manual</div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" asp-action="Index">Git Flow</a>
                <a class="nav-link" asp-action="Jquery">JQuery</a>
                <a class="nav-link" asp-action="Mvc">MVC</a>
                <a class="nav-link" asp-action="Scrum">Scrum</a>
            </div>
        </div>
    </div>
</nav>

<div class="bgPersonal">
    <div class="manualTitle">Estágio Inicial DAEE</div>
</div>

<section id="section-03">

    <div class="containerPersonal">
        @foreach(var item in Model)
        {
            <div style="border-right: solid 50px @item.Cor" class="cardPersonal">
                <strong style="color: @item.Cor" class="letter">@item.Letra</strong>
                <div class="descricao">@item.Descricao</div>
            </div>
        }
    </div>
</section>