@model IEnumerable<Scrum>

@{
    ViewData["Title"] = "Manual";
    string nomeImg;
}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="navbar-brand">Manual</div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" asp-action="Index">Git Flow</a>
                <a class="nav-link" asp-action="Jquery">JQuery</a>
                <a class="nav-link" asp-action="Mvc">MVC</a>
                <a class="nav-link" asp-action="Scrum">Scrum</a>
            </div>
        </div>
    </div>
</nav>

<div class="bgPersonal">
    <div class="manualTitle">Estágio Inicial DAEE</div>
</div>

<section id="section-04">
    @foreach(var item in Model)
    {
        nomeImg = $"scrum0{item.Id}.jpg";
        if(item.Id % 2 == 0)
        {
            <div class="scrum-card">
                <p>@Html.Raw(item.Definicao)</p>
                
                <div class="img">
                    <img src="~/img/@nomeImg" />
                </div>
            </div>
        }else
        {
            <div class="scrum-card">
                <div class="img">
                    <img src="~/img/@nomeImg" />
                </div>
                <p>@Html.Raw(item.Definicao)</p>
            </div>
        }
    }
</section>
